<!DOCTYPE html>
<html lang>
    <head>
		<title>staffed - forging project teams</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link href="http://fonts.googleapis.com/css?family=Rosario:400,400italic,700" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="/favicon.ico" />
    </head>
    <body>
    		
		<script src="{% static 'js/jquery-2.0.0.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
		<script src="{% static 'js/jquery-ui-1.10.3.js' %}"></script>
    
		{% include "core/login.html" %}
		{% block content %}
		{% endblock %}

		<script src="{% static 'js/script.js' %}"></script>
    </body>
</html>