<div id="header">
	<div id="header_content" class="container">
		{% load static %}
		<a href="/"><img src="{% static "/static/img/logo.png" %}" alt=""></a>
		{% if not user.is_authenticated %}
			<ul id="nav">
				<li><a href="#" id="login_button"><span>Anmelden</span></a></li>
				<li><a href="/register"><span>Registrieren</span></a></li>
			</ul>
			<div id="login_box">
				<form id="login_form" method="post">
					{% csrf_token %}
			        <label for="id_username">Benutzer:</label>
			        {{ login_form.username }}
			        <label for="id_password">Passwort:</label>
			        {{ login_form.password }}
					<span id="login_error"></span>
					<input type="submit" value="Anmelden"/>
				</form>            
			</div>
		{% else %}
			<div id="user_info">
					<a href="/profile">
						{% load thumbnail %}
		       			<div class="color_box rct_10_28" data-color="{{user.profile.skillset.color}}"></div>
		       			{% if user.profile.avatar %}
		       				<img src="{% thumbnail user.profile.avatar 28x28 crop %}" alt="">
		       			{% else %}
		       				<img src="{% static "/static/img/no_avatar.png" %}" alt="">
		       			{%endif %}
						<span>{{user.profile.first_name}} {{user.profile.last_name}} ({{user.username}})</span>
					</a>
			</div>
			<div id="logout"><a href="#" id="logout_button"><img src="{% static "/static/img/logout.png" %}" alt="logout"></a></div>
			<ul id="nav">
				<li><a href="/profiles"><span>Profile</span></a></li>
				<li><a href="/projects/slots"><span>Gesuche</span></a></li>
				<li><a href="/projects"><span>Projekte</span></a></li>
				<li><a href="/projects/applications"><span>Bewerbungen({{application_num}})</span></a></li>
			</ul>
		{% endif%}
	</div>
</div>