{% extends "core/base.html" %}
{% block content %}
	{% load static %}
	<div id="hello">
		<div id="profile_box">    
			{{ user.username }}            
			<form id="profile_form" method="post">
				<div id="profile_fields">
					{% csrf_token %}
					{% for field in profile_form %}
						<div class="fieldWrapper">
							{{field.label_tag}}:{{ field }}
						</div>
					{% endfor %}
				</div>
				
				<div id='skills'>
					Skillset: <br \>
					{% for skill in skill_list %}
						{% static "img/"|add:skill.image_name as skill_image %}
						<img src="{{skill_image}}" alt="{{skill.name}}" data-id="{{skill.id}}" data-name="{{skill.name}}" />
					{% endfor %}
				</div>
				<div id="skill_slots">
					<div class="slot">
						<div class="slot_skills">
							{% for skill in skillset.skills %}
								{% if skill %}
									<div id="skillset_skill{{forloop.counter0}}" data-number="{{skill.id}}" data-slot="{{forloop.counter0}}">
										{{skill.name}}
										{% static "img/"|add:skill.image_name as skill_image %}
										<img src="{{skill_image}}" alt="{{skill.name}}" >
									</div>
								{% else %} 
									<div id="skillset_skill{{forloop.counter0}}" data-number="0" data-slot="{{forloop.counter0}}">
										Skill
										{% static "img/open.png" as skill_image %}
										<img src="{{skill_image}}" alt="open" >
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<div id="skillset_color" data-color="{{skillset.color}}"></div>
					</div>
				</div>
				
				<div>
					<h3>Bewerbungen für Projekte</h3>
					{% for application in applications %}
						<a href="/projects/{{application.slot.project.id}}" >{{application.slot.name}} in {{application.slot.project.name}}</a>
						{% if application.accepted = None%}
							(offen)
		        		{% else %}
		        			{% if application.accepted %}
		        				(accepted)
		        			{% else %}
		        				(declined)
		        			{% endif %}
		        		{% endif %}
						<br \>
					{% endfor %}
				</div>

				<div>
					<input style="float:right; clear:both;" type="submit" value="save"/>
					<div id="error"><span></span></div>
					<br \>
				</div>
			</form>
		</div>
	</div>
	<script src="{% static 'js/profile_script.js' %}"></script>
{% endblock %}