{% extends "core/base.html" %}
{% block content %}
	{% load static %}
	{% include "core/slider.html" %}
	<div id="content" class="container">
		<div class="profile_header">
			<h1>Profil bearbeiten - {{ user.username }}</h1>
			<a href='/profile/{{user.id}}'>Zum Profil</a>
		</div>
		<div class="clear"></div>
		<div id="profile_box">    
			<div class="profile_image_wrapper">
				<img src="{{ user.profile.avatar }}" height="150" width="150" />       
			</div>
			
			<form id="profile_form" enctype="multipart/form-data" method="post" action="/profile/">
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="field_wrapper">
					<label for="id_first_name">Vorname:</label>
					{{ profile_form.first_name }}
					{{ profile_form.first_name.errors }}
				</div>
				
				<div class="field_wrapper">
		        	<label for="id_last_name">Nachname:</label>
		        	{{ profile_form.last_name }}
					{{ profile_form.last_name.errors }}
		        </div>
		        
		        <div class="field_wrapper">
		        	<label for="id_studies">studiert:</label>
		        	{{ profile_form.studies }}
		        	{{ profile_form.studies.errors }}
		        </div>
		        
		        <div class="field_wrapper">
		       		<label for="id_avatar">Avatar:</label>
		       		{{ profile_form.avatar }}
		       		{{ profile_form.avatar.errors }}
		        </div>
		        
				<input class='clear gap_20' type="submit" value="speichern"/>
			</form>
		</div>
		
		<div class='clear gap_20'></div>
		<div id="skill_slots">
			<div id="slots_header" class="inline_header">
				<h3>Skills</h3>
				<span class="skills_toggle">Skillpool &ouml;ffnen</span>
			</div>
			<div id="slots">
				<div id="slots_color" class="color_box rct_16_64" data-color="{{user.profile.skillset.color}}"></div>				
				{% for skill in skillset.skills %}
					{% if skill %}
						<div class="slot" data-skill_id="{{skill.id}}" data-slot="{{forloop.counter0}}">
							{% static "img/skills/64/"|add:skill.image_name as skill_image %}
							<img src="{{skill_image}}" alt="{{skill.name}}" >
							<span>{{skill.name}}</span>
						</div>
					{% else %} 
						<div class="slot" data-skill_id="0" data-slot="{{forloop.counter0}}">
							{% static "img/open.png" as skill_image %}
							<img src="{{skill_image}}" alt="open" >
							<span>(offen)</span>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class='clear gap_20'></div>
		<div id="applications">
			<h3>Bewerbungen für Projekte</h3>
			{% if applications %}
				{% for application in applications %}
					<a href="/projects/{{application.slot.project.id}}"> {{application.slot.name}} in {{application.slot.project.name}}</a>
					{% if application.accepted = None%}
						(offen)
	        		{% else %}
	        			{% if application.accepted %}
	        				(akzeptiert)
	        			{% else %}
	        				(abgelehnt)
	        			{% endif %}
	        		{% endif %}
					<br \>
				{% endfor %}
			{% else %}
				Keine Bewerbungen vorhanden
			{% endif %}
		</div>
		<div class="gap_20 clear"></div>
	</div>
	<script src="{% static 'js/profile_script.js' %}"></script>
{% endblock %}