{% extends "core/base.html" %}
{% block content %}
	{% load static %}
	<div id="content" class="container">
		<div class="profile_header">
			<h1>Profil von {{ profile.user.username }}</h1>
			{% if profile.user = user %}<a href='/profile/'>Projekt bearbeiten</a>{% endif %}
		</div>
		<div class="clear"></div>
		<div id="profile_box">    
			<div class="profile_image_wrapper">
				<img src="{{ profile.avatar }}" height="150" width="150" />       
			</div>
			
			<div id="profile_info">
				<span>Vorname:</span><span>{{profile.first_name}}</span><br \>
				<span>Nachname:</span><span>{{profile.last_name}}</span><br \>
				<span>studiert:</span><span>{{profile.studies}}</span><br \>
			</div>

		</div>
		
		<div class='clear gap_20'></div>
		<div id="skill_slots">
		
			<div id="slots_header" class="inline_header">
				<h3>Skills</h3>
			</div>
			<div id="slots">
				<div id="slots_color" class="color_box rct_16_64" data-color="{{skillset_color}}"></div>				
				{% for skill in skillset %}
					{% if skill %}
						<div class="slot" data-skill_id="{{skill.id}}" data-slot="{{forloop.counter0}}">
							{% static "img/skills/64/"|add:skill.image_name as skill_image %}
							<img src="{{skill_image}}" alt="{{skill.name}}" >
							<span>{{skill.name}}</span>
						</div>
					{% else %} 
						<div class="slot" data-skill_id="0" data-slot="{{forloop.counter0}}">
							{% static "img/open.png" as skill_image %}
							<img src="{{skill_image}}" alt="open" >
							<span>(offen)</span>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<script src="{% static 'js/profile_script.js' %}"></script>
{% endblock %}