{% extends "core/base.html" %}
{% block content %}
    {% load static %}
	<div id="application_list">
		{% if application_list %}
		    <ul>
			    {% load endless %}
				{% paginate application_list %}
			    {% for application in application_list %}
	        	<li>
	        		<div class="application" data-id="{{application.id}}">
	        			{{application.created_at}}
	        			<div>{{application.applicant.first_name}} {{ application.applicant.last_name }} als {{application.slot.name}} ({{application.slot.project.name}})
	        				<div class="color_box" data-color="{{application.slot.skillset.color}}"></div>
	        			</div>
	        			
	        			{% if application.accepted = None%}
		        			<div>
		        				<div class="appl_approve">accept</div>
		        				<div class="appl_decline">decline</div>
		        			</div>
		        		{% else %}
		        			{% if application.accepted %}
		        				accepted
		        			{% else %}
		        				declined
		        			{% endif %}
		        		{% endif %}
	        		</div>
	        	</li>
				{% endfor %}
				{% show_pages %}
		    </ul>
		{% else %}
		    <p>No applications are available.</p>
		{% endif %}
	</div>
	<script src="{% static 'js/application_script.js' %}"></script>
{% endblock %}