{% extends "core/base.html" %}
{% block content %}
    {% load static %}
    {% include "core/slider.html" %}
	<div id="content" class="container">
		<div class="project_header">
			{%if project_form.instance.id %}
				<h1>Projekt bearbeiten - {{ project_form.instance.name }}</h1><div class="clear"></div>
				<a href='/projects/{{project_form.instance.id}}'>zur&uuml;ck zum Projekt</a>
			{% else %}
				<h1>neues Projekt</h1>
			{% endif %}
		</div>
		
		<div class="clear"></div>
		<form id="project_form" {%if project_form.instance.id %}data-id={{project_form.instance.id}}{% endif %} method="post">
			{{ form.non_field_errors }}
			<div class="field_wrapper">
				<label for="id_name">Name:</label>
				{{ project_form.name }}
				{{ project_form.name.errors }}
			</div>
			
			<div class="field_wrapper">
	        	<label for="id_description">Beschreibung:</label>
	        	{{ project_form.description }}
				{{ project_form.description.errors }}
	        </div>
	        			
			<div>
				<input style="float:left; clear:both;" type="submit" value="speichern"/>
				<div id="error"><span></span></div>
				<br \>
			</div>
		</form>
				
		<div class="clear"></div>
								
		<div id="member_slots">
			<div id="member_slots_header" class="inline_header">
				{% static "img/add.png" as add_img %}
				<img class="add_slot" src="{{add_img}}" alt="add" />
				<h3>Mitarbeiterslots</h3>
				<span class="skills_toggle">Skillpool &ouml;ffnen</span>
			</div>
			<div class="clear"></div>
			<div id="member_slots_content">
				{% for member in project_form.instance.slots %}
					<div class='member' data-id='{{member.id}}'>
						<div class="member_info">
							<label>Bezeichnung:</label><input value="{{member.name}}"></input><br/> 
							<label>Beschreibung:</label><textarea rows="3" cols="60">{{member.description}}</textarea>
						</div>
						<div class="clear"></div>
						<div class="slots">
							{% for skill in member.skillset.skills %}
								{% if skill %}
									<div class="slot" data-skill_id="{{skill.id}}" data-slot="{{forloop.counter0}}">
										{% static "img/skills/64/"|add:skill.image_name as skill_image %}
										<img src="{{skill_image}}" alt="{{skill.name}}" >
										<span>{{skill.name}}</span>
									</div>
								{% else %} 
									<div class="slot" data-skill_id="0" data-slot="{{forloop.counter0}}">
										{% static "img/open.png" as skill_image %}
										<img src="{{skill_image}}" alt="open" >
										<span>(offen)</span>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<script src="{% static 'js/project_script.js' %}"></script>
{% endblock %}