{% extends "core/base.html" %}
{% block content %}

    {% load static %}
	<div id="slot_list">
		{% if slot_list %}
			<div id="slot_filter">
	    		<div id='skills'>
					{% for skill in skill_list %}
						{% static "img/"|add:skill.image_name as skill_image %}
						<img src="{{skill_image}}" alt="{{skill.name}}" data-id="{{skill.id}}" data-name="{{skill.name}}" />
					{% endfor %}
				</div>
				<div id="skill_slots">
					<div class="slot">
						<div class="slot_skills">
							{% for skill in skillset.skills %}
								{% if skill %}
									<div class="skillset_slot" data-skill_id="{{skill.id}}" data-slot="{{forloop.counter0}}">
										{{skill.name}}
										{% static "img/"|add:skill.image_name as skill_image %}
										<img src="{{skill_image}}" alt="{{skill.name}}" >
									</div>
								{% else %} 
									<div class="skillset_slot" data-skill_id="0" data-slot="{{forloop.counter0}}">
										Skill
										{% static "img/open.png" as skill_image %}
										<img src="{{skill_image}}" alt="open" >
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<div id="skillset_color" data-color="{{skillset.color}}"></div>
					</div>
				</div>
	    	</div>
			{% include "projects/slot_list_page.html" %}
		{% else %}
		    <p>No slots are available.</p>
		{% endif %}
		<script src="{% static 'js/slot_script.js' %}"></script>
	</div>
{% endblock %}