html,body,form,p,blockquote{ 
    margin:0;
    padding:0;
}

a {
	text-decoration:none
}

body {
    font-size: 1em;
    line-height: 1.4;
}

#hello {
	width: 100%;
	min-height: 400px;
	background-color: #83C2F2;
}

#hello span {
	color: DarkSlateGray;
	margin: 5px;
}

#login {
	padding: 4px;
	background-color: #FF7A00;
}

#error {
	color: red;
}

.fieldWrapper {
	display: block;
	float: left;
	clear: both;
}

#login_fields {
	float: right;
}

.button { 
    display:inline-block;
    float:right;
	background-color: #FFD1AC;
    position:relative;
    z-index:30;
    cursor:pointer;
}

.button.active {
	background-color: #BF6F30;
}

/* Login Button Text */
.button span {
	color: #BF6F30;
	margin: 2px 7px 2px 7px;
    font-size: 14px; 
    font-weight:bold; 
    display:block
}

.button.active span {
	color: #FFD1AC;
}

#login_box {
    position:absolute;
    top:34px;
    right: 10px;
    display:none;
    z-index:29;
	
	padding: 5px;
	border: 1px solid #BF6F30;
	background-color: #FFD1AC;
}

#logout_button {
	float: right;
}

#logout_box {
	float: right;
}

#skills {
	display:block;
	margin-top: 25px;
	clear: both;
	float: left;
}

 
.slot {
	clear: both;
}

.slot div {
  float: left;
  width: 58px;
  height: 78px;
  padding: 10px;
  padding-top: 40px;
  padding-bottom: 0;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
}
 
.slot div:first-child, #cardPile div:first-child {
  margin-left: 0;
}
 
.slot div.hovered {
  background: #aaa;
}
 
.slot div {
  border-style: dashed;
}

#skillset_color, .slot_color {
	opacity: 0.7;
	margin: 20px;
	float: left;
	height: 50px;
	width: 50px;
	border: 1px solid black;
	border-radius: 15px;
}


#profile_list {
	border: 1px solid black;
	width: 500px;
	margin: auto;
}

#profile_list ul {
	padding: 0;
	margin: 0;
}

#profile_list ul li {
	margin: 20px;
	list-style-type: none;
	border: 1px solid black;	
	padding: 5px;
}

a:link {color:black;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:black;}  /* mouse over link */
a:active {color:black;}  /* selected link */

.color_box {
	height: 20px;
	width: 20px;
	margin: auto;
	border: 1px solid black;
	float: right;
	opacity: 0.7;
}

#slots {
	float: left;
}

#edit_project {
	clear: both;
}